        font-family: "Body";
	src: url("fonts/Animal-Crossing-Wild-World.ttf");
	font-size: 30px; 
}
#wildworld {
	color: 83, 255, 26;
	text-align: center;
	}	
p{
	font-family: "Body";
	src: url("fonts/Animal-Crossing-Wild-World.ttf");
	font-size: 30px; 
{
li { 
	font-family: "Body";
	src: url("fonts/Animal-Crossing-Wild-World.ttf");
	font-size: 30px; 
{	
ul { 	
	font-family: "Body";
	src: url("fonts/Animal-Crossing-Wild-World.ttf");
	font-size: 30px;
}		
