body {
  background-color: rgb(50,205,50);
}

h1 {
	font-family: 'Header';
}

.center {
	text-align: center;
}

@font-face {
	font-family: "Header";
	src: url("fonts/calvert.ttf")format("truetype");
}

@font-face {
	font-family: "Body";
	src: url("fonts/Animal-Crossing-Wild-World.ttf");
	font-size: 20px; 
}
